@model Product_Inventory0406.ViewMode.InvTableViewModel

@{
    ViewBag.Title = "盤點列表";
}

<h2>盤點清單表</h2>
@*<p>
        @Html.ActionLink("新增產品資料", "Create")
    </p>*@

<div>
    @Html.ActionLink("新增盤點紀錄", "Create", "InventoryTable")
</div>

<table class="table">
    @* 如果資料庫中的資料表不是0個，則顯示資料，且列出新增、刪除與修改連結 *@
    @if (!Model.DataList.Count.Equals(0))
    {
        <tr>
            <th>盤點編號</th>
            <th>產品編號</th>
            <th>盤點數量</th>
            <th>盤點時間</th>
            @* 需要多一行 *@
            <th></th>
        </tr>

        foreach (var item in Model.DataList)
        {

            <tr>
                <td>@item.Inv_number</td>
                <td>@item.ProductKey</td>
                @if (@item.SafeAmount > @item.NewProductNumber)
                {
                    <td><span style="color:red">@item.NewProductNumber</span></td>
                }
                else
                {
                    <td><span style="color:green">@item.NewProductNumber</span></td>
                }

                <td>@DateTime.Parse(item.InventoryDate.ToString()).ToLongDateString()</td>


                @if (Session["UserID"] == null)
                {
                    //未登入，不能給使用者刪除與修改
                    <td><p></p></td>
                    <td><p></p></td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("刪除資料", "Delete", new { Inv_number = item.Inv_number })
                        @* @Html.ActionLink("修改資料", "Edit", new { Inv_number = item.Inv_number })*@
                    </td>

                }

            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">資料庫內無任何資料</td>
        </tr>
    }


</table>

<div>
    @Html.ActionLink("返回產品列表", "Index", "PdiTable")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>